<div class="body d-flex">
    <div class="heading-pattern">
        <div class="container">
            <div class="d-flex flex-column">
                <div class="heading-1">Gutenberg Project</div>
                <div class="genre-card">A social cataloging website that allows you to
                    freely search its database of books,
                    annotations, and reviews.</div>
            </div>
        </div>
    </div>
    <app-genre-card *ngFor="let category of categories" [name]="category.name" [image]="category.image"></app-genre-card>
</div>
