a {
  text-decoration: none;
  color: inherit;
}

.search-bar {
  border-radius: 4px;
  padding: 0 10px;
  border: none;
  height: 40px;
}

.book-card {
  .rectangle {
    width: 114px;
    height: 162px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
  }
}