@use "../../../assets/variables" as *;

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: #fff;
}

.search-bar {
  border-radius: 4px;
  padding: 0 10px;
  border: none;
  height: 40px;
}

.search-box {
  font-family: $primary_font_family;
  font-size: 16px;
  font-weight: $font-regular;
  color: $color-grey-medium;
  background-color: $color-grey-light;
}

.books-grid {
  height: 58vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.book-card {
  & .book-cover img {
    width: 114px;
    height: 162px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
    max-width: 100%;
    height: auto;
  }

  & .book-name {
    font-family: $primary_font_family;
    font-size: 12px;
    font-weight: $font-regular;
    color: $color-grey-dark;
  }

  & .author-name {
    font-family: $primary_font_family;
    font-size: 12px;
    font-weight: $font-regular;
    color: $color-grey-medium;
  }

}