<div class="body">
  <div class="header py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading-1">
            <a href="/genre" class="text-capitalize"><img src="../../../assets/images/Back.svg"> {{topicFilter}}</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="input-group">
            <span class="input-group-append position-absolute">
              <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5 search-icon"
                type="button">
                <img src="../../../assets/images/Search.svg">
              </button>
            </span>
            <input class="form-control border-start-0 search-bar search-box" id="search" type="search"
              [(ngModel)]="searchQuery" (input)="onSearchChange()" placeholder="Search" style="padding-left: 50px;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="books-grid" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300"
      (scrolled)="onScroll()" [scrollWindow]="false">
      <div class="row">
        <div class="col-4 col-lg-2 book-card" *ngFor="let book of books" (click)="openBook(book)">
          <app-book-card [title]="book.title" [authors]="getAuthorNames(book.authors)"
            [coverImage]="getCoverImage(book)"></app-book-card>
        </div>
      </div>
    </div>

    <div *ngIf="isLoading" class="loading-spinner">
      <div class="spinner"></div>
      <p>Loading more books...</p>
    </div>

    <div *ngIf="!hasMore && books.length > 0" class="no-more">
      No more books to load
    </div>
  </div>
</div>
