$color-primary: #5E56E7;
$color-secondary: #F8F7FF;

$color-grey-light: #F0F0F6;
$color-grey-medium: #A0A0A0;
$color-grey-dark: #333333;

$primary_font_family: 'Montserat';
$font-regular: 600;
$font-semibold: 700;

