/* You can add global styles to this file, and also import other style files */
@use "./assets/variables" as *;

.heading-1 {
    font-family: $primary_font_family;
    font-size: 48px;
    font-weight: $font-semibold;
    color: $color-primary;
}

.heading-2 {
    font-family: $primary_font_family;
    font-size: 30px;
    font-weight: $font-semibold;
    color: $color-primary;
}

.genre-card {
    font-family: $primary_font_family;
    font-size: 20px;
    font-weight: $font-regular;
    color: $color-grey-dark;
}

.body {
    font-family: $primary_font_family;
    font-size: 16px;
    font-weight: $font-regular;
    color: $color-grey-dark;
    background-color: $color-secondary;
    min-height: 100vh;
}