@use "../../../assets/variables" as *;

.book-cover img {
  width: 114px;
  height: 162px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
  max-width: 100%;
  height: auto;
}

.book-details {
  .book-name {
    font-family: $primary_font_family;
    font-size: 12px;
    font-weight: $font-regular;
    color: $color-grey-dark;
  }

  .author-name {
    font-family: $primary_font_family;
    font-size: 12px;
    font-weight: $font-regular;
    color: $color-grey-medium;
  }
}
